*{
    box-sizing: border-box;
}

.skin-blue .main-header .logo {
	background-color: #ffffff;
    color: #333333;
    box-shadow: 0 5px 5px -5px #D3D3D3;
    font-size: 25px;
    font-weight: 350;
}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
    background-color: #d6dde7;
    color: #333333;
}

.skin-blue .main-header .navbar {
    background-color: #ffffff;
    box-shadow: 0 5px 5px -5px #D3D3D3;
}

.skin-blue .main-sidebar {
    background-color: #ffffff;
    box-shadow: 5px 0 5px -5px #D3D3D3;
    font-size: 15px;
}

.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
    background-color: #869bb8;
    color: #333333;
    border-left-color: #203552;
}

.skin-blue .nav-tabs-custom>.nav-tabs>li.active{
    border-top-color: #232526;
}

/* other links in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
    background-color: #ffffff;
    color: #333333;
}

/* other links in the sidebarmenu when hovered */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
    background-color: #d6dde7;
    color: #333333;
    border-left-color: #203552;
}
/* toggle button when hovered  */   
.skin-blue .main-header .navbar .sidebar-toggle{
    color: #333333;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover{
    background-color: #ffffff;
    color: #333333;
}

.skin-blue .box{
	border-top-color: #777777;
}

.skin-blue .content-wrapper{
	background-color: #fafcfd;
  font-size: 15px;
}

.skin-blue .checkbox{
  padding-top: 25px;
  margin-bottom: 20px;
}

.skin-blue .btn{
  margin-top: 25px;
}


@media (min-width: 2000px){
    body * {
      /*font-size: 25px !important;*/
    }
  
   .skin-blue .main-sidebar {
        width: 300px;
        padding-top: 100px;
        position: fixed;
        font-size: 25px;
    }
    
    .skin-blue .content-wrapper{
        margin-left: 300px;
    }

    .skin-blue .main-header{
        height: 100px;
    }

    .skin-blue .main-header nav{
        height: 100px;
    }

    .skin-blue .main-header .logo{
        font-size: 50px !important;
        padding-top: 20px;
        padding-left: 10px;
        height: 100px;
        width: 400px;
    }
    
    .skin-blue .navbar .sidebar-toggle{
        padding-top: 30px;
        display: none;
    }
    
    .skin-blue .main-header .navbar{
      margin-left: 400px;
    }
    
    /* dropdown height and font size */
    .skin-blue .selectize-control .selectize-input{
      height: 50px;
      font-size: 25px;
    }
    
    .skin-blue .selectize-control .selectize-dropdown{
      line-height: 30px;
      font-size: 25px;
    }
    
    /* heading */
    .skin-blue h2{
      font-size: 30px !important;
    }
    
    /* checkbox styles */
    .skin-blue input[type='checkbox']{
      width: 30px;
      height: 30px;
    }
    
    .skin-blue .checkbox{
      padding-top: 35px;
    }
    
    .skin-blue label > span {
      margin-left: 20px;
      font-size: 25px;
    }
    
    /* button styles */
    .skin-blue button{
      width: 4vw;
      height: 2.5vh;
      font-size: 25px;
    }
    
    .skin-blue .btn{
      margin-top: 30px;
    }
    
    /* radiobuttons styles */
    .skin-blue input[type = 'radio']{
      transform: scale(2);
      margin-top: 11px;
      margin-left: -5px;
    }
    
    .skin-blue .radio-inline{
      margin-right: 20px;
    }
  
    /* dataInput styles */
    .skin-blue input[type = text]{
      height: 50px;
      font-size: 25px;
    }
    
    .skin-blue table{
      width: 500px;
      height: 500px;
      font-size: 25px;
    }
    
    .skin-blue .nav-tabs{
      font-size: 25px;
    }
    
    .skin-blue label{
      font-size: 25px;
    }
    
    .skin-blue .hovertext text{
      font-size: 25px !important;
    }
    
}
















