* {
    box-sizing: border-box;
}

.leaflet-container {
  background-color: white;
  height: 85vh!important;
}

.skin-blue .main-header .logo {
	background-color: #ffffff;
    color: #333333;
    box-shadow: 0 5px 5px -5px #D3D3D3;
    font-size: 25px;
    font-weight: 350;
}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
    background-color: #d6dde7;
    color: #333333;
}

.skin-blue .main-header .navbar {
    background-color: #ffffff;
    box-shadow: 0 5px 5px -5px #D3D3D3;
}

.skin-blue .main-sidebar {
    background-color: #ffffff;
    box-shadow: 5px 0 5px -5px #D3D3D3;
    font-size: 15px;
}

.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
    background-color: #869bb8;
    color: #333333;
    border-left-color: #203552;
}

.skin-blue .nav-tabs-custom>.nav-tabs>li.active{
    border-top-color: #232526;
}

/* other links in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
    background-color: #ffffff;
    color: #333333;
}

/* other links in the sidebarmenu when hovered */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
    background-color: #d6dde7;
    color: #333333;
    border-left-color: #203552;
}
/* toggle button when hovered  */   
.skin-blue .main-header .navbar .sidebar-toggle{
    color: #333333;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover{
    background-color: #ffffff;
    color: #333333;
}

.skin-blue .box{
	border-top-color: #777777;
}

.skin-blue .content-wrapper{
	background-color: #fafcfd;
  font-size: 15px;
}

.skin-blue .checkbox{
  padding-top: 25px;
  margin-bottom: 20px;
}

.skin-blue .btn{
  margin-top: 25px;
}

/*Leaflet Height*/
.skin-blue #deepDiveLeaflet{
  height: 70vh !important;
}

.skin-blue .center *{
    text-align: center;
}
    
    
.skin-blue #flightDataNumberOfFlightsTable thead tr:nth-child(2) th:nth-child(1){
  border-bottom: 8px solid #6a819d;
}

.skin-blue #flightDataNumberOfFlightsTable thead tr:nth-child(2) th:nth-child(2){
  border-bottom: 8px solid #e76e48;
}

.skin-blue #flightDataNumberOfFlightsTable thead tr:nth-child(2) th:nth-child(3){
  border-bottom: 8px solid #6a819d;
  border-left: 4px solid #303030;
}

.skin-blue #flightDataNumberOfFlightsTable thead tr:nth-child(2) th:nth-child(4){
  border-bottom: 8px solid #e76e48;
}

.skin-blue #flightDataNumberOfFlightsTable tbody td:nth-child(4){
  border-left: 4px solid #303030;
}

.skin-blue #flightDataNumberOfFlightsTable tbody td:nth-child(3){
  padding-right: 20px;
}

/*Delay Tables*/
.skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(1), 
.skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(8){
  border-bottom: 8px solid #EAC949; 
}

.skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(2),
.skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(9){
  border-bottom: 8px solid #E47F7B; 
}

.skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(3),
.skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(10){
  border-bottom: 8px solid #4B7C8C; 
}

.skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(4),
.skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(11){
  border-bottom: 8px solid #002d58; 
}

.skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(5),
.skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(12){
  border-bottom: 8px solid #84BCBE; 
}

.skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(8){
  border-left: 4px solid #303030;
}

.skin-blue #flightDataNumberOfDelaysTable tbody td:nth-child(9){
  border-left: 4px solid #303030;
}

.skin-blue #flightDataNumberOfDelaysTable tbody td:nth-child(8){
  padding-right: 10px;
}


/*Top 15 destination tables*/
.skin-blue #flightDataTop15DestinationsTable thead tr:nth-child(2) th:nth-child(2){
  border-bottom: 8px solid #6a819d;
}

.skin-blue #flightDataTop15DestinationsTable thead tr:nth-child(2) th:nth-child(3){
  border-bottom: 8px solid #e76e48;
}

.skin-blue #flightDataTop15DestinationsTable thead tr:nth-child(2) th:nth-child(5){
  border-bottom: 8px solid #6a819d;
}

.skin-blue #flightDataTop15DestinationsTable thead tr:nth-child(2) th:nth-child(6){
  border-bottom: 8px solid #e76e48;
}

.skin-blue #flightDataTop15DestinationsTable tbody td:nth-child(5){
  border-left: 4px solid #303030;
  padding-left: 20px;
}

.skin-blue #flightDataTop15DestinationsTable tbody td:nth-child(4){
  padding-right: 20px;
}

.skin-blue #flightDataTop15DestinationsTable thead tr:nth-child(2) th:nth-child(4){
  border-left: 4px solid #303030;
}


@media (min-width: 2000px){
    body * {
      /*font-size: 25px !important;*/
    }
  
   .skin-blue .main-sidebar {
        width: 400px;
        padding-top: 100px;
        position: fixed;
        font-size: 25px;
    }
    
    .skin-blue .content-wrapper{
        margin-left: 400px;
    }

    .skin-blue .main-header{
        height: 100px;
    }

    .skin-blue .main-header nav{
        height: 100px;
    }

    .skin-blue .main-header .logo{
        font-size: 50px !important;
        padding-top: 20px;
        padding-left: 10px;
        height: 100px;
        width: 400px;
    }
    
    .skin-blue .navbar .sidebar-toggle{
        padding-top: 30px;
        display: none;
    }
    
    .skin-blue .main-header .navbar{
      margin-left: 400px;
    }
    
    /* dropdown height and font size */
    .skin-blue .selectize-control .selectize-input{
      height: 50px;
      font-size: 25px;
    }
    
    .skin-blue .selectize-control .selectize-dropdown{
      line-height: 30px;
      font-size: 25px;
    }
    
    /* heading */
    .skin-blue h2{
      font-size: 30px !important;
    }
    
    /* checkbox styles */
    .skin-blue input[type='checkbox']{
      width: 30px;
      height: 30px;
    }
    
    .skin-blue .checkbox{
      padding-top: 35px;
    }
    
    .skin-blue label > span {
      margin-left: 20px;
      font-size: 25px;
    }
    
    /* button styles */
    .skin-blue button{
      width: 4vw;
      height: 2.5vh;
      font-size: 25px;
    }
    
    .skin-blue .btn{
      margin-top: 30px;
    }
    
    /* radiobuttons styles */
    .skin-blue input[type = 'radio']{
      transform: scale(2);
      margin-top: 11px;
      margin-left: -5px;
    }
    
    .skin-blue .radio-inline{
      margin-right: 20px;
    }
  
    /* dataInput styles */
    .skin-blue input[type = text]{
      height: 50px;
      font-size: 25px;
    }
    
    .skin-blue table{
      width: 500px;
      height: 500px;
      font-size: 25px;
    }
    
    .skin-blue .nav-tabs{
      font-size: 25px;
    }
    
    .skin-blue label{
      font-size: 25px;
    }
    
    .skin-blue .hovertext text{
      font-size: 25px !important;
    }
    
    .skin-blue p{
      font-size: 25px;
    }
    
    .skin-blue a{
      font-size: 25px;
    }
    
    .skin-blue div.box-header{
      padding-bottom: 30px;
    }
    
    .skin-blue .leaflet-popup-content{
      font-size: 25px;
    }
    
    .skin-blue h3.box-title{
      font-size: 30px;
    }
    
/*    .skin-blue #mapFlightsToFromIL .legend{
      font-size: 25px;
    }
    */
    
 /*   .skin-blue .legend{
      height: 200px;
    }*/

    /*Table heading bottom*/
    .skin-blue #flightDataNumberOfFlightsTable thead tr:nth-child(2) th:nth-child(1){
      border-bottom-width: 13px;
    }

    .skin-blue #flightDataNumberOfFlightsTable thead tr:nth-child(2) th:nth-child(2){
      border-bottom-width: 13px;
    }
    
    .skin-blue #flightDataNumberOfFlightsTable thead tr:nth-child(2) th:nth-child(3){
      border-bottom-width: 13px;
      border-left-width: 6px;
    }
    
    .skin-blue #flightDataNumberOfFlightsTable thead tr:nth-child(2) th:nth-child(4){
      border-bottom-width: 13px;
    }
    
    .skin-blue #flightDataNumberOfFlightsTable tbody td:nth-child(4){
      border-left-width: 6px;
    }
    
    .skin-blue #flightDataNumberOfFlightsTable tbody td:nth-child(3){
      padding-right: 40px;
    }
    
    /*Delay tables*/
    .skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(1), 
    .skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(8){
      border-bottom-width: 13px;
    }
    
    .skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(2),
    .skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(9){
      border-bottom-width: 13px; 
    }
    
    .skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(3),
    .skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(10){
      border-bottom-width: 13px;
    }
    
    .skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(4),
    .skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(11){
      border-bottom-width: 13px;
    }
    
    .skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(5),
    .skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(12){
      border-bottom-width: 13px;
    }
    
    .skin-blue #flightDataNumberOfDelaysTable thead tr:nth-child(2) th:nth-child(8){
      border-left-width: 6px;
    }
    
    .skin-blue #flightDataNumberOfDelaysTable tbody td:nth-child(9){
      border-left-width: 6px;
    }

    .skin-blue #flightDataNumberOfDelaysTable tbody td:nth-child(8){
      padding-right: 30px;
    }
        
    /*Top 15 destination tables*/
    .skin-blue #flightDataTop15DestinationsTable thead tr:nth-child(2) th:nth-child(2){
      border-bottom-width: 13px;
    }
    
    .skin-blue #flightDataTop15DestinationsTable thead tr:nth-child(2) th:nth-child(3){
      border-bottom-width: 13px;
    }
    
    .skin-blue #flightDataTop15DestinationsTable thead tr:nth-child(2) th:nth-child(5){
      border-bottom-width: 13px;
    }
    
    .skin-blue #flightDataTop15DestinationsTable thead tr:nth-child(2) th:nth-child(6){
      border-bottom-width: 13px;
    }
    
    .skin-blue #flightDataTop15DestinationsTable tbody td:nth-child(5){
      border-left-width: 6px;
      padding-left: 40px;
    }
    
    .skin-blue #flightDataTop15DestinationsTable tbody td:nth-child(4){
      padding-right: 40px;
    }
    
    .skin-blue #flightDataTop15DestinationsTable thead tr:nth-child(2) th:nth-child(4){
      border-left-width: 6px;
    }
    
    .skin-blue .content-wrapper{
      padding-left: 40px;
      padding-right: 40px;
    }
    
}
















